* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v648_3 {
  width: 100%;
  height: 2248px;
  background: url("../images/v648_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v603_4 {  /*comboboxlı banner*/
  width: 100%;
  height: 607px;
  background: rgba(3,6,32,1);
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 0px;
  overflow: hidden;
  clip-path: inset(2px 0 0 0)
}
.vector-1 {
  position: absolute;
  top: 0;
  left: 735px; 

}
.v648_4 { /* header */
  width: 100%;
  height: 607px;
  background: url("../images/v648_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v603_68 { /* header araba fotosu*/
  width: 100%;
  height: 607px;
  background: url("../images/v603_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v603_67 { /* header color */
  width: 100%;
  height: 607px;
  background: rgba(0,3,28,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  mix-blend-mode: color;
}
.v603_69 { /* header */
  width: 100%;
  height: 607px;
  background: rgba(155,157,174,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
  mix-blend-mode: multiply;
}
.v603_66 { /* most compared */
  width: 100%;
  height: 607px;
  background: rgba(3,6,32,1);
  opacity: 1;
  position: absolute;
  top: 1426px;
  left: 0px;
  overflow: hidden;
}
.v603_97 { /* footer */
  width: 100%;
  height: 175px;
  background: rgba(3,6,32,1);
  opacity: 1;
  position: absolute;
  top: 2072px;
  left: 0px;
  overflow: hidden;
}
.v603_98 { /* PEAR */
  width: 87px;
  color: rgba(248,249,251,1);
  position: absolute;
  top: 2147px;
  left: 695px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v603_2 { /*beyaz araba*/
  width: 606px;
  height: 186px;
  background: url("../images/v603_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1118px;
  left: 1150px;
  overflow: hidden;
}


.v603_80 { /*mavi araba*/
  width: 606px;
  height: 200px;
  background: url("../images/v603_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1104px;
  left: 50px;
  overflow: hidden;
  justify-content: center;
}



.v603_81 { /* vs*/
  width: 78px;
  height: 78px;
  background: rgba(249,249,250,1);
  opacity: 1;
  position: absolute;
  top: 1104px;
  left: 920px;
  border-radius: 50%;
}
.v603_7 { /*vs text*/
  width: 63px;
  color: rgba(3,7,32,1);
  position: absolute;
  top: 1108px;
  left: 927px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 43px;
  opacity: 1;
  text-align: center;
}


.v603_91 { /*compared*/
  width: 900px;
  height: 207px;
  background: url("../images/v603_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 1569px;
  left: 118px;
  overflow: hidden;
}
.v603_84 {
  width: 226px;
  height: 78px;
  background: url("../images/v603_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v603_85 {
  width: 35px;
  height: 36px;
  background: rgba(249,249,250,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 234px;
  border-radius: 50%;
}
.v603_83 {
  width: 242px;
  height: 78px;
  background: url("../images/v603_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 276px;
  overflow: hidden;
}
.v603_86 {
  width: 63px;
  color: rgba(3,7,32,1);
  position: absolute;
  top: 89px;
  left: 220px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v603_99 {
  width: 517px;
  height: 207px;
  background: url("../images/v603_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 1805px;
  left: 861px;
  overflow: hidden;
}
.v603_100 {
  width: 226px;
  height: 78px;
  background: url("../images/v603_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v603_101 {
  width: 35px;
  height: 36px;
  background: rgba(249,249,250,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 234px;
  border-radius: 50%;
}
.v603_102 {
  width: 242px;
  height: 78px;
  background: url("../images/v603_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 276px;
  overflow: hidden;
}
.v603_103 {
  width: 63px;
  color: rgba(3,7,32,1);
  position: absolute;
  top: 65px;
  left: 220px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v603_104 {
  width: 517px;
  height: 207px;
  background: url("../images/v603_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 1805px;
  left: 118px;
  overflow: hidden;
}
.v603_105 {
  width: 226px;
  height: 78px;
  background: url("../images/v603_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v603_106 {
  width: 35px;
  height: 36px;
  background: rgba(249,249,250,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 234px;
  border-radius: 50%;
}
.v603_107 {
  width: 242px;
  height: 78px;
  background: url("../images/v603_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 276px;
  overflow: hidden;
}
.v603_108 {
  width: 63px;
  color: rgba(3,7,32,1);
  position: absolute;
  top: 65px;
  left: 220px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v603_92 {
  width: 517px;
  height: 191px;
  background: url("../images/v603_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 1577px;
  left: 861px;
  overflow: hidden;
}
.v603_93 {
  width: 226px;
  height: 78px;
  background: url("../images/v603_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v603_94 { /*minik yuvarlak*/
  width: 35px;
  height: 36px;
  background: rgba(249,249,250,1);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 234px;
  border-radius: 50%;
}
.v603_95 {
  width: 242px;
  height: 78px;
  background: url("../images/v603_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 276px;
  overflow: hidden;
}
.v603_96 { /*vs yazılarından biri*/
  width: 63px;
  color: rgba(3,7,32,1);
  position: absolute;
  top: 65px;
  left: 220px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v603_65 { /* buton olacak */
  width: 205px;
  height: 57px;
  background: rgba(3,7,32,1);
  padding: 13px 51px;
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 1322px;
  left: 850px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v603_64 { /*karşılaştır text*/
  width: 103px;
  color: rgba(178,203,223,1);
  position: absolute;
  top: 13px;
  left: 52px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: right;
}
.v603_71 { /*compare cars*/
  width: 584px;
  color: rgba(248,249,251,1);
  position: absolute;
  top: 377px;
  left: 6px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 97px;
  opacity: 1;
  text-align: right;
}
.custom-combobox-container {
  position: relative;
  width: 319.44px;
  height: 34.45px;
  background-color: transparent; /* Arka plan rengi, isteğinize göre değiştirin */
  border: 1px solid transparent; /* Alt kenarlık rengi */
  margin-top: 200px; /* Aşağıya taşıma */
  margin-left: 350px; /* Sağa taşıma */
  transform: scale(1.2);
}

.custom-combobox {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #B7CFE5; /* Yazı rengi */
  background-color: transparent;
  border: none;
  padding-left: 30px; /* Sol kenarda ok işareti için yer bırakır */
  appearance: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzE4IiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgMzE4IDM1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bWFzayBpZD0icGF0aC0xLWluc2lkZS0xXzYwM18xNCIgZmlsbD0id2hpdGUiPgo8cGF0aCBkPSJNLTEuNTYwOTEgMC4wMjA1MDc4SDMxNy44NzdWMzQuNDY5NkgxLjU2MDkxVjAuMDIwNTA3OFoiLz4KPC9tYXNrPgo8cGF0aCBkPSJNMzE3Ljg3NyAzMi41MTIzSC0xLjU2MDkxVjM2LjQyN0gzMTcuODc3VjMyLjUxMjNaIiBmaWxsPSIjQjdDRkU1IiBtYXNrPSJ1cmwoI3BhdGgtMS1pbnNpZGUtMV82MDNfMTQpIi8+CjxwYXRoIGQ9Ik0wLjM5NjM2MiAxMy41MjU5TDkuNTUwNTUgMjEuMTU5NUwxNy44MTY2IDEzLjUyNTkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41NjU4NyIvPgo8L3N2Zz4=') no-repeat center;
  background-size: contain;
  position: relative;
}

.custom-combobox::before {
  content: '▼'; /* Sol tarafa ok işareti karakteri */
  font-size: 12px;
  color: #B7CFE5; /* Ok rengi */
  position: absolute;
  left: 10px; /* Ok işaretini sola taşı */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}








.custom-combobox-container2 { /* aşağıdaki combobox sol */
  position: relative;
  width: 319.44px;
  height: 34.45px;
  background-color: transparent; /* Arka plan rengi, isteğinize göre değiştirin */
  border: 1px solid transparent; /* Alt kenarlık rengi */
  margin-top: 50px; /* Aşağıya taşıma */
  margin-left: 350px; /* Sağa taşıma */
  transform: scale(1.2);
}

.custom-combobox2 {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #B7CFE5; /* Yazı rengi */
  background-color: transparent;
  border: none;
  padding-left: 30px; /* Sol kenarda ok işareti için yer bırakır */
  appearance: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzE4IiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgMzE4IDM1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bWFzayBpZD0icGF0aC0xLWluc2lkZS0xXzYwM18xNCIgZmlsbD0id2hpdGUiPgo8cGF0aCBkPSJNLTEuNTYwOTEgMC4wMjA1MDc4SDMxNy44NzdWMzQuNDY5NkgxLjU2MDkxVjAuMDIwNTA3OFoiLz4KPC9tYXNrPgo8cGF0aCBkPSJNMzE3Ljg3NyAzMi41MTIzSC0xLjU2MDkxVjM2LjQyN0gzMTcuODc3VjMyLjUxMjNaIiBmaWxsPSIjQjdDRkU1IiBtYXNrPSJ1cmwoI3BhdGgtMS1pbnNpZGUtMV82MDNfMTQpIi8+CjxwYXRoIGQ9Ik0wLjM5NjM2MiAxMy41MjU5TDkuNTUwNTUgMjEuMTU5NUwxNy44MTY2IDEzLjUyNTkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41NjU4NyIvPgo8L3N2Zz4=') no-repeat center;
  background-size: contain;
  position: relative;
}

.custom-combobox::before2 {
  content: '▼'; /* Sol tarafa ok işareti karakteri */
  font-size: 12px;
  color: #B7CFE5; /* Ok rengi */
  position: absolute;
  left: 10px; /* Ok işaretini sola taşı */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}



.custom-combobox-containersag {
  position: relative;
  width: 319.44px;
  height: 34.45px;
  background-color: transparent; /* Arka plan rengi, isteğinize göre değiştirin */
  border: 1px solid transparent; /* Alt kenarlık rengi */
  margin-top: -119px; /* Aşağıya taşıma */
  margin-left: 1300px; /* Sağa taşıma */
  transform: scale(1.2);
}

.custom-comboboxsag {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #B7CFE5; /* Yazı rengi */
  background-color: transparent;
  border: none;
  padding-left: 30px; /* Sol kenarda ok işareti için yer bırakır */
  appearance: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzE4IiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgMzE4IDM1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bWFzayBpZD0icGF0aC0xLWluc2lkZS0xXzYwM18xNCIgZmlsbD0id2hpdGUiPgo8cGF0aCBkPSJNLTEuNTYwOTEgMC4wMjA1MDc4SDMxNy44NzdWMzQuNDY5NkgxLjU2MDkxVjAuMDIwNTA3OFoiLz4KPC9tYXNrPgo8cGF0aCBkPSJNMzE3Ljg3NyAzMi41MTIzSC0xLjU2MDkxVjM2LjQyN0gzMTcuODc3VjMyLjUxMjNaIiBmaWxsPSIjQjdDRkU1IiBtYXNrPSJ1cmwoI3BhdGgtMS1pbnNpZGUtMV82MDNfMTQpIi8+CjxwYXRoIGQ9Ik0wLjM5NjM2MiAxMy41MjU5TDkuNTUwNTUgMjEuMTU5NUwxNy44MTY2IDEzLjUyNTkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41NjU4NyIvPgo8L3N2Zz4=') no-repeat center;
  background-size: contain;
  position: relative;
}

.custom-combobox::beforesag {
  content: '▼'; /* Sol tarafa ok işareti karakteri */
  font-size: 12px;
  color: #B7CFE5; /* Ok rengi */
  position: absolute;
  left: 10px; /* Ok işaretini sola taşı */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}








.custom-combobox-container2sag { /* aşağıdaki combobox sol */
  position: relative;
  width: 319.44px;
  height: 34.45px;
  background-color: transparent; /* Arka plan rengi, isteğinize göre değiştirin */
  border: 1px solid transparent; /* Alt kenarlık rengi */
  margin-top: 50px; /* Aşağıya taşıma */
  margin-left: 1300px; /* Sağa taşıma */
  transform: scale(1.2);
}

.custom-combobox2sag {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #B7CFE5; /* Yazı rengi */
  background-color: transparent;
  border: none;
  padding-left: 30px; /* Sol kenarda ok işareti için yer bırakır */
  appearance: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzE4IiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgMzE4IDM1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8bWFzayBpZD0icGF0aC0xLWluc2lkZS0xXzYwM18xNCIgZmlsbD0id2hpdGUiPgo8cGF0aCBkPSJNLTEuNTYwOTEgMC4wMjA1MDc4SDMxNy44NzdWMzQuNDY5NkgxLjU2MDkxVjAuMDIwNTA3OFoiLz4KPC9tYXNrPgo8cGF0aCBkPSJNMzE3Ljg3NyAzMi41MTIzSC0xLjU2MDkxVjM2LjQyN0gzMTcuODc3VjMyLjUxMjNaIiBmaWxsPSIjQjdDRkU1IiBtYXNrPSJ1cmwoI3BhdGgtMS1pbnNpZGUtMV82MDNfMTQpIi8+CjxwYXRoIGQ9Ik0wLjM5NjM2MiAxMy41MjU5TDkuNTUwNTUgMjEuMTU5NUwxNy44MTY2IDEzLjUyNTkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41NjU4NyIvPgo8L3N2Zz4=') no-repeat center;
  background-size: contain;
  position: relative;
}

.custom-combobox::before2sag {
  content: '▼'; /* Sol tarafa ok işareti karakteri */
  font-size: 12px;
  color: #B7CFE5; /* Ok rengi */
  position: absolute;
  left: 10px; /* Ok işaretini sola taşı */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.v603_72 {/*compare cars with ease*/
  width: 865px;
  color: rgba(248,249,251,1);
  position: absolute;
  top: 504px;
  left: 39px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: right;
}
.v603_73 { /*header grey part */
  width: 100%;
  height: 119px;
  background: rgba(248,249,251,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v603_74 { /* most compared cars banner */
  width: 100%;
  height: 154px;
  background: rgba(248,249,251,0.25);
  opacity: 1;
  position: absolute;
  top: 1426px;
  left: 0px;
  overflow: hidden;
}
.v603_75 { /* most compared cars*/
  width: 702px;
  color: rgba(248,249,251,1);
  position: absolute;
  top: 1465px;
  left: 315px;
  font-family: Francois One;
  font-weight: Regular;
  font-size: 58px;
  opacity: 1;
  text-align: right;
}
.vector-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* Button başlangıçta devre dışı */
#compare-button {
  background-color: rgba(3, 7, 32, 1);
  color: rgba(178, 203, 223, 1);
  font-family: 'Francois One', sans-serif;
  font-size: 23px;
  padding: 13px 51px;
  border-radius: 19px;
  opacity: 0.5; /* Başlangıçta yarı saydam */
  pointer-events: none; /* Başlangıçta tıklanamaz */
  transition: background-color 0.3s, opacity 0.3s;
  cursor: not-allowed;
}

/* Enabled sınıfı eklendiğinde butonu etkinleştir */
#compare-button.enabled {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

#compare-button.enabled:hover {
  background-color: #0b3667; /* Hover rengi */
}

#compare-content {
  display: none; /* Başlangıçta gizli */
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Buton ile içerik arasında boşluk */
  z-index: 9999;
}


#compare-content.show {
  display: block;
  max-height: 500px; /* İçeriğin genişlemesi için yeterli bir yükseklik belirleyin */
}





